<section>
    <form [formGroup]="formGroup" class="form">
        <div class="control-form">
            <label>Fecha de llegada</label>
            <input formControlName="date_start" type="date">
        </div>
        <span class="error">{{getError('date_start')}}</span>
        <div class="control-form">
            <label>Fecha de salida</label>
            <input formControlName="date_exit" type="date">
        </div>
        <span class="error">{{getError('date_exit')}}</span>
        <span class="error" *ngIf="formGroup.hasError('notValid')">La fecha de inicio no puede ser mayor a la fecha de salida.</span>

        <div class="control-form">
            <label>Comentarios</label>
            <br>
            <textarea formControlName="comments" rows="5" cols="50"></textarea>
        </div>
        <span class="error">{{getError('comments')}}</span>

        <br>
        <button (click)="reservation()" [disabled]="formGroup.invalid">Guardar reserva</button>
        <br><br>
        <span class="success" *ngIf="response">La reserva se realizo satisfactoriamente.</span>
    </form>    
</section>
